body {
  font-family: 'Press Start 2P', cursive;
  color: rgb(205, 0, 0);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  background-color: steelblue;
}

.header, .announcements {
  text-align: center;
}

.startElements {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.xInput, .oInput, .startBtn, .resetBtn {
  margin-bottom: 2em;
  font-family: 'Press Start 2P', cursive;
  height:2em;
  border-radius: 1em;
  border: none;
}

.xInput, .oInput {
  background-color: antiquewhite;
  padding: .2em .8em
}

.inputLabel {
  margin-bottom: .5em;
}

.startBtn:hover, .resetBtn:hover{
  background-color: rgb(142, 142, 142);
}

.resetBtn {
  display: block;
  width: 50%;
  margin: 0 auto;
}

.scoreBoard {
  margin: 3em auto;
}

.container {
  width: 360px;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: antiquewhite;
  border: 1px solid black;
}

div[class$="Row"] {
  display: flex;
}

div[class$="Cell"] {
  flex-grow: 1;
  text-align: center;
  font-size: 4.5em;
  height: 120px;
  max-height: 120px;
  width: 120px;
  max-width: 120px;
}

.x, .o {
  width: 100%;
  height: 100%;
  padding-bottom: 0.2em;
}

div[class$="CenterCell"] {
  border-right: 2px solid rgb(205, 0, 0);;
  border-left: 2px solid rgb(205, 0, 0);;
}

.middleRow {
  border-top: 2px solid rgb(205, 0, 0);;
  border-bottom: 2px solid rgb(205, 0, 0);;
}
